@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    /* gradient coolors */
    background-color: #20242F;
}

main {
    margin: 0 auto;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-inline: 10px;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    /* glassmorphism */
    /* background: rgba(255, 255, 255, 0.089);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(50px); */
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    background-color: #0D111D;
    color: white;

}

.box {
    width: 100%;
}

#range-value {
    font: 1rem;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
.content input{
    color: black;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* color: #FFFFFF; */
}

#pasword-value {
    width: 100%;
}

#length {
    width: 100%;
}

#generatebtn {
    width: 100%;
}

.heading{
    color: #FFFFFF;
    margin-bottom: 20px;
}



#generatebtn{
    margin-top: 20px;
    font-size: 1rem;
    /* font-weight: bold; */
    border: none;
    padding: 5px 5px;
    background-color: #4a35be;
    color: white;
    letter-spacing: 3px;
    border-radius: 3px;
    transition: background-color .3s;
}

#generatebtn:hover{
    background-color: #5B42E1;
    transform: scale(1.01);
}

#pasword-value{
    padding: 5px;
}

.copybtn{
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #5B42E1;
}
.copybtn:hover{
    transform: scale(1.09);
}

.copied{
    position: absolute;
    right: 0;
    top: -40px;
    background-color: #5B42E1;
    padding: 5px 10px;
    border-radius: 20px;
    color: #FFFFFF;
    display: none;
}